<html>
  <head>
    <title>$i18n.getText("lgtm-servlet.admin.label")</title>
    <meta name="decorator" content="atl.admin" />
    <meta name="admin.active.section" content="admin_plugins_menu"/>
  </head>
  <body>
    <h1>LGTM add-on configuration</h1>
    <form id="admin" class="aui">
    
      <h3>Jira settings</h3>
      <div class="field-group">
        <label for="user">$i18n.getText("lgtm-servlet.admin.user.label")</label>
        <input type="text" id="user" name="user" class="text">
      </div>
      <div class="field-group">
        <label for="project">$i18n.getText("lgtm-servlet.admin.project.label")</label>
        <select id="project">
          <option value="none"></option>
        </select>
      </div>
      <div class="field-group">
        <label for="priority">$i18n.getText("lgtm-servlet.admin.priority.label")</label>
        <select id="priority">
        	<option value="none"></option>
        </select>
      </div>
      <div class="field-group">
        <label for="user">$i18n.getText("lgtm-servlet.admin.incomingHookUrl.label")</label>
        <input readonly type="text" id="incomingHookUrl" name="incomingHookUrl" class="text readonly">
      </div>
      
      <h3>LGTM settings</h3>
      <div class="field-group">
        <label for="secret">$i18n.getText("lgtm-servlet.admin.secret.label")</label>
        <input type="text" id="secret" name="secret" class="text">
      </div>
      <div class="field-group">
        <label for="externalHookUrl">$i18n.getText("lgtm-servlet.admin.externalHookUrl.label")</label>
        <input type="text" id="externalHookUrl" name="externalHookUrl" class="text">
      </div>
      <div class="field-group">
        <input type="submit" value="$i18n.getText("lgtm-servlet.admin.save.label")" class="button">
      </div>
    </form>
    <div id="message-context"></div>
  </body>
</html>
