name: Java CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package integration-test --file pom.xml
    - name: Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: LGTM Jira add-on
        body: The LGTM add-on for Atlassian Jira to be used with LGTM enterprise 1.19.2+, 1.20, 1.21, 1.22.
        draft: true
        files: |
          target/lgtm-jira-addon-*.jar
          target/lgtm-jira-addon-*.obr
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
